{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",

    "SqlConnectionString": "Server=(localdb)\\mssqllocaldb;Database=fitrecoverylog;Trusted_Connection=True;TrustServerCertificate=True;",

    "AuthAuthority": "https://login.microsoftonline.com/<YOUR_PERSONAL_TENANT_ID>/v2.0",
    "AuthAudience": "<API_APP_REGISTRATION_CLIENT_ID>",
    "AuthAllowedUserId": "<YOUR_USER_OBJECT_ID>",
    "AuthDevBypass": "true"
  }
}
